@import 'vars';
@import 'mixins';

@include main;

main{
    padding: 2em 15em;
    background-image: url('../slike/background.jpg');
    background-size: cover;
    height: 100vh;

    header {
        background-color: #fff;
        padding: 0.5em 1em;
        @include clearfix;
    
    }
}
.logo{
    font-size: 2em;
    font-weight: bold;
    font-family: $logo_font;
    float: left;
    span{ color: $main_red;}
}
nav{
    float:right;

    ul{
        list-style: none;

        li{
            display: inline-block;
            margin-left: 1em;

            a {
                text-decoration: none;
                text-transform: uppercase;
                line-height: 3em;
                &:hover {color: #000;}
            }

        }
        
    }
}
h1, h3{
    text-align: center;
    color: #fff;
    font-weight: normal;

}
h1{
    margin: 20% auto 0;
    font-size: 2em;
    border-bottom: 1px solid red;
}
section{
    padding: 5em 10em;
    text-align: center;
    @include clearfix;
    h2{
        text-transform: uppercase;
        margin-bottom: 3em;
    }
}
.catalog{
    background-color: $grey_background;
    .kolona{
        float: left;
        width: 25%;
        img{
            width: 90%;
        }
    }
}
.buttons{
    background-color: $main_red;
    padding: 0.5em 2em;
    margin-top: 1em;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    &:hover{
        background-color: black;
    }
}
table{
    width: 60%;
    margin: 0 auto;
    border-collapse: collapse;

    td, th{
        padding: 1em;
    }
    thead{
        tr{ background-color: $main_red;}
        th{
            color:#fff;
            &:first-child{ background-color: $red_dark;}
        }
       
    }
    tbody{
        tr{
            border-bottom: 1px solid $main_text_color;
        }
        td:first-child{
            background-color: $grey_background;
        }
    }
}
#pricingButton{
    display: none;
}
footer{
    padding: 5em 10em;
    background-color: black;
    @include clearfix;
    .logo{
        float:none;
        font-size: 1.5em;
        border-bottom: 1px solid $main_red;
    }
    address {
        float: left;
        margin: 1em;
    }
    .map{
        float: right;
        margin: 1em;
    }
}

@media screen and (max-width: 1200px) {
    main{
        padding: 2em 1em;
    }
    h1{
        width: 90%;
    }
    .catalog{
        .kolona{
            width: 50%;
            margin-bottom: 3em;
        }
    }
    footer {
        text-align: center;
        address, .map{
            width: 100%;
            margin: 1em 0;
        }
    }
}
