@import 'vars';
@import 'mixins';

@include main;

main{
    padding: 2em 15em;
    background-image: url('../slike/background.jpg');
    background-size: cover;
    height: 100vh;

    header {
        background-color: #fff;
        padding: 0.5em 1em;
        @include clearfix;
    
    }
}
.logo{
    font-size: 2em;
    font-weight: bold;
    font-family: $logo_font;
    float: left;
    span{ color: $main_red;}
}
nav{
    float:right;

    ul{
        list-style: none;

        li{
            display: inline-block;
            margin-left: 1em;

            a {
                text-decoration: none;
                text-transform: uppercase;
                line-height: 3em;
                &:hover {color: #000;}
            }

        }
        
    }
}
h1, h3{
    text-align: center;
    color: #fff;
    font-weight: normal;

}
h1{
    margin: 20% auto 0;
    font-size: 2em;
    border-bottom: 1px solid red;
    width: 60%;
    
}